<div class="result">
    <input type="checkbox" class="js-result-checkbox" name="result_item_{{ id }}" id="result_item_{{ id }}" value="1"
           data-name="{{name}}" data-brand="{{brand}}" data-price="{{price}}" data-id="{{id}}" data-image="{{image}}"
           data-vendor-url="{{vendor_url}}" data-available="{{available}}" {{isChecked selected}}>
  <label class="result__content" for="result_item_{{ id }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
           viewBox="0 0 24 24" version="1.1" class="result__content__tick replaced-svg">
      <!-- Generator: sketchtool 3.7.1 (28215) - http://www.bohemiancoding.com/sketch -->
      <title>D1978CB6-C93B-44EA-B70B-F2DC16D42D07</title>
      <desc>Created with sketchtool.</desc>
      <defs></defs>
      <g id="Guidelines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons" transform="translate(-220.000000, -10.000000)" fill="#141618">
          <g id="ic_tick" transform="translate(220.000000, 10.000000)">
            <path
                d="M17.70725,7.29325 C17.31625,6.90225 16.68425,6.90225 16.29325,7.29325 L10.00025,13.58625 L7.70725,11.29325 C7.31625,10.90225 6.68425,10.90225 6.29325,11.29325 C5.90225,11.68425 5.90225,12.31625 6.29325,12.70725 L9.29325,15.70725 C9.48825,15.90225 9.74425,16.00025 10.00025,16.00025 C10.25625,16.00025 10.51225,15.90225 10.70725,15.70725 L17.70725,8.70725 C18.09825,8.31625 18.09825,7.68425 17.70725,7.29325"
                id="Fill-35"></path>
          </g>
        </g>
      </g>
    </svg>
    <img class="result__content__image"
         src="{{#if image}} {{image}} {{else}} {{thumb}} {{/if}}"
         alt="no image">

    <div class="result__content__name">
      {{ name }}
    </div>

    <div class="result__content__brand">
      {{ brand }}
    </div>

    <div class="result__content__price">
      {{ price }}
    </div>

    <div class="result__content__vendor">
      {{ vendor }}
    </div>
  </label>
</div>
